<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SIF.Visualization.Excel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SIF.Visualization.Excel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SIF.Visualization.Excel.Properties.Settings>
            <setting name="DefaultPort" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="DescriptionShortLength" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="NumberOfScenarioDetailPanes" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CellNameTag" serializeAs="String">
                <value>SIF.Visualisation.</value>
            </setting>
            <setting name="StaticScenarioName" serializeAs="String">
                <value>StaticScenario</value>
            </setting>
            <setting name="StaticScenarioDescriptionBase" serializeAs="String">
                <value>This special scenario defines the static scan properties.</value>
            </setting>
            <setting name="FalsePositivePrefix" serializeAs="String">
                <value>FalsePositive.</value>
            </setting>
            <setting name="StandartDifference" serializeAs="String">
                <value>0</value>
            </setting>
        </SIF.Visualization.Excel.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <SIF.Visualization.Excel.Properties.Settings>
            <setting name="FrameworkPath" serializeAs="String">
                <value>C:\Spreadsheet Inspection Framework</value>
            </setting>
            <setting name="AutomaticScans" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SifOptions" serializeAs="String">
                <value>socket</value>
            </setting>
            <setting name="SifUseThousandsSeparator" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SifVersion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SifStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CommunicationMethod" serializeAs="String">
                <value>standard</value>
            </setting>
            <setting name="MonoFrameworkPath" serializeAs="String">
                <value>C:\Spreadsheet Inspection Framework</value>
            </setting>
        </SIF.Visualization.Excel.Properties.Settings>
    </userSettings>
</configuration>